<% content_for :title, "Editing gt bank" %>

<h1>Editing gt bank</h1>

<%= render "form", gt_bank: @gt_bank %>

<br>

<div>
  <%= link_to "Show this gt bank", @gt_bank %> |
  <%= link_to "Back to gt bank", gt_banks_path %>
</div>
