<% content_for :title, "Editing gt bank" %>

<h1>Editing gt bank</h1>

<%= render "form", gt_bank: @gt_bank %>

<br>

<div>
  <%= link_to "Show this branch", @gt_bank, class: "btn btn-light" %> |
  <%= link_to "Back to gt bank list", gt_banks_path, class: "btn btn-light" %>
</div>
